@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 45%;
        max-width: 45%;
        margin-bottom: 2.5%;
        margin-left: 2.5%;
        margin-top: 2.5%;
        margin-right: 2.5%;
    }
}